 a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {overflow: auto; overflow-y: auto;
    background-color: white;
    background-image: url('bg.png');
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin: 0px;}